<html ng-app="myApp">
<head>
	<title>Angular Test v1.0</title>
</head>
<body>
<div class="container" ng-controller="HelloWorld">
<h1>Simple Binding</h1>
<div>{{greeting}}</div>
Enter your name: <input type="text" name="nameField" ng-model="nameField">
<p ng-if="nameField">
	Hello {{nameField}}
</p>
</div>
<div class="container_list" ng-controller="DataController">
<h1>Simple ng-repeat</h1>
<input type="text" name="filterName" ng-model="filterName">
<ul>
	<li ng-repeat="employee in employees | orderBy: 'name' | filter:filterName">{{employee.name}} - {{employee.address}}</li>
</ul>
<input type="text" name="nameField2" ng-model="nameField2">
<p ng-if="nameField2">
{{message(nameField2)}}
</p>
</div>
</body>
<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/scripts.js"></script>
</html>